*.4u   linguist-language=4U
*      linguist-detectable=true
*      linguist-documentation=false
lexique_4u.c linguist-documentation=true

#*.4u   linguist-detectable=true
#*.4u   linguist-documentation=false
#*.bat  linguist-detectable=true
#*.bat  linguist-documentation=false
#*.c    linguist-detectable=true
#*.c    linguist-documentation=false
#*.css  linguist-detectable=true
#*.css  linguist-documentation=false
#*.h    linguist-detectable=true
#*.h    linguist-documentation=false
#*.html linguist-detectable=true
#*.html linguist-documentation=false
#*.js   linguist-detectable=true
#*.js   linguist-documentation=false
#*.lex  linguist-detectable=true
#*.lex  linguist-documentation=false
#*.md   linguist-detectable=true
#*.md   linguist-documentation=false
#*.sh   linguist-detectable=true
#*.sh   linguist-documentation=false
#*.y    linguist-detectable=true
#*.y    linguist-documentation=false
#*.yml  linguist-detectable=true
#*.yml  linguist-documentation=false
